# ignore everything first
*

# README and .gitignore
!.gitignore
!README.md

# bash
!bash
bash/*
!bash/.bashrc
!bash/.bash_profile

# zsh
!zsh
zsh/*
!zsh/.zshrc

# fish
!fish
!fish/**

# gitconfig
!gitconfig
!gitconfig/*

# ibus
!ibus
!ibus/.config
!ibus/.config/ibus
!ibus/.config/ibus/rime
!ibus/.config/ibus/rime/*.custom.yaml

# latexindent
!latexindent
!latexindent/.config
!latexindent/.config/latexindent
!latexindent/.config/latexindent/*

# fontconfig
!fontconfig
!fontconfig/.config
!fontconfig/.config/fontconfig/*

# htop
!htop
!htop/.config
!htop/.config/htop/*

# i3
!i3
!i3/.config
!i3/.config/i3/*

# i3blocks
!i3blocks
!i3blocks/.config
!i3blocks/.config/i3blocks/*

# rofi
!rofi
!rofi/.config
!rofi/.config/rofi/*


